{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Change password") }}{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="change_passwd" method="post">
    <h1 class="h3 mb-3 fw-normal">{{ i18n!(self.i18n.catalog, "New password") }}</h1>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">{{ i18n!(self.i18n.catalog, "Password") }}</label>
    </div>
    <button class="w-100 btn btn-lg btn-warning" type="submit">{{ i18n!(self.i18n.catalog, "Change password") }}</button>
  </form>
</main>
{% endblock body %}
