{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Email verified") }}{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>{{ i18n!(self.i18n.catalog, "Your have successfully completed email verification!") }}</h1>
      <p class="lead">
	{{ i18n!(self.i18n.catalog, "Your email is verified, and your account is now activated.") }}
      </p>
      <hr>
      <a href="/user/signin" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Sign in") }}</a>
    </div>
    <br>
</main>
{% endblock content %}
