{% extends "base.html" %}
{% block head %}
{% call super() %}
<style>
	.html-body {
		box-sizing: border-box;
		min-width: 200px;
		margin: 0 auto;
		padding: 45px;
	}

	.html-body img {
	    max-width:100%!important
	}
</style>
{% endblock head %}
{% block title %}{{user.get_name()}} 的主页{% endblock title %}
{% block navbutton %}<li class="nav-item"><a href="/user/logout" class="btn btn-warning" role="button"><i class="bi bi-box-arrow-left"></i> 登出</a></li>{% endblock navbutton %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>欢迎来到 {{ user.get_name() }} 的主页</h1>
    <p class="lead">{% block intro %}你可以在这里查看 {{ user.get_name() }} 的信息。{% endblock intro %}</p>
  </div>
  <br>

  <div class="p-5 rounded shadow">
    <h1>基本信息</h1>
    <table class="table table-hover">
      <tbody>
	<tr>
	  <th scope="row">邮件</th>
	  <td><a href="mailto:{{user.get_id()}}">{{ user.get_id() }}</a></td>
	</tr>
	<tr>
	  <th scope="row">姓名</th>
	  <td>{{ user.get_name() }}</td>
	</tr>
	<tr>
	  <th scope="row">学校</th>
	  <td>{{ user.get_school() }}</td>
	</tr>
      </tbody>
    </table>
    {% block update_button %}{% endblock update_button %}
  </div>
  <br>

  <div class="shadow p-5 rounded html-body">
    {% match user.get_description() %}
    {% when Some with (desc) %}
    {{desc|safe}}
    {% when None %}
    <h3>没有简介</h3>
    {% endmatch %}
  </div>
  <br>

  <div class="shadow p-5 rounded html-body">
  {% if prods_owned.len() > 0 %}
  <h3>此用户上架的内容</h3>
  {% let prods = prods_owned.iter() %}
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">ID</th>
	<th data-field="name" data-sortable="true" scope="col">Prod name</th>
	<th data-field="price" data-sortable="true" scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in prods %}
      <tr>
	<th scope="row"><a href="{{ uri!("/store", crate::store::prod_page_owned(prod.get_id())) }}">{{prod.get_shortid()}}</a></th>
	<td><a href="{{ uri!("/store", crate::store::prod_page_owned(prod.get_id())) }}">{{prod.get_prodname()}}</a></td>
	<td>{{prod.get_price()}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>此用户没有上架商品</h3>
  {% block postprod_button %}{% endblock postprod_button %}
  {% endif %}
  </div>
  <br>

  {% block digicons_owned %}{% endblock digicons_owned %}
  {% block orders_placed %}{% endblock orders_placed %}
  {% block orders_received %}{% endblock orders_received %}
</main>
{% endblock content %}
