{% extends "portal_guest.html" %}
{% block title %}用户中心{% endblock title %}

{% block intro %}在这里您可以管理您上传的书，也可以修改账号的基本信息。{% endblock intro %}
{% block update_button %}<a href="/user/update_user_page" class="btn btn-primary" role="button">更新</a> <a href="/user/change_passwd" class="btn btn-warning" role="button">更改密码</a>{% endblock update_button %}
{% block postbook_button %}<a href="/market/post_book_interim" class="btn btn-primary" role="button">上架书本</a>{% endblock postbook_button %}
{% block orders_placed %}
<div class="p-5 rounded shadow">
  <h3>您购买的</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">ID</th>
	<th data-field="name" data-sortable="true" scope="col">名称</th>
	<th data-field="price" data-sortable="true" scope="col">价格</th>
	<th data-field="seller" data-sortable="true" scope="col">卖家</th>
	<th data-field="status" data-sortable="true" scope="col">状态</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_placed %}
      <tr>
	<th scope="row"><a href="{{ uri!("/orders", crate::orders::order_info_buyer(order.1.get_id())) }}">{{order.1.get_shortid()}}</a></th>
	<td>{{order.0.get_prodname()}}</td>
	<td>{{order.0.get_price()}}</td>
	<td>{{order.0.get_seller_id()}}</td>
	<td>{{ "{:?}"|format(order.1.get_transaction_status()) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock orders_placed %}

{% block orders_received %}
<div class="p-5 rounded shadow">
  <h3>您卖出的</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">ID</th>
	<th data-field="name" data-sortable="true" scope="col">名称</th>
	<th data-field="price" data-sortable="true" scope="col">价格</th>
	<th data-field="buyer" data-sortable="true" scope="col">买家</th>
	<th data-field="status" data-sortable="true" scope="col">状态</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_received %}
      <tr>
	<th scope="row"><a href="{{ uri!("/orders", crate::orders::order_info_buyer(order.1.get_id())) }}">{{order.1.get_shortid()}}</a></th>
	<td>{{order.0.get_prodname()}}</td>
	<td>{{order.0.get_price()}}</td>
	<td>{{order.1.get_buyer()}}</td>
	<td>{{ "{:?}"|format(order.1.get_transaction_status()) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock orders_received %}
