{% extends "portal_guest.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Portal") }}{% endblock title %}

{% block intro %}{{ i18n!(self.i18n.catalog, "Here you can manage your products and account") }}{% endblock intro %}
{% block update_button %}<a href="/user/update_user_page" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Update") }}</a> <a href="/user/change_passwd" class="btn btn-warning" role="button">{{ i18n!(self.i18n.catalog, "Change password") }}</a>{% endblock update_button %}
{% block postprod_button %}<a href="/store/post_prod" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Create a product") }}</a>{% endblock postprod_button %}

{% block digicons_owned %}
<div class="p-5 rounded shadow">
  <h3>{{ i18n!(self.i18n.catalog, "Digital Contents owned") }}</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="name" data-sortable="true" scope="col">名称</th>
      </tr>
    </thead>
    <tbody>
      {% for digicon in digicons_owned %}
      <tr>
	<th scope="row"><a href="{{ uri!("/digicons", crate::digicons::get(digicon.get_id())) }}">{{digicon.get_name()}}</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock digicons_owned %}

{% block orders_placed %}
<div class="p-5 rounded shadow">
  <h3>{{ i18n!(self.i18n.catalog, "Orders placed") }}</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "ID") }}</th>
	<th data-field="name" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Name") }}</th>
	<th data-field="price" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Price") }}</th>
	<th data-field="seller" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Seller") }}</th>
	<th data-field="status" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Status") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_placed %}
      <tr>
	<th scope="row"><a href="{{ uri!("/orders", crate::orders::order_info_buyer(order.1.get_id())) }}">{{order.1.get_shortid()}}</a></th>
	<td>{{order.0.get_prodname()}}</td>
	<td>{{order.0.get_price()}}</td>
	<td>{{order.0.get_seller_id()}}</td>
	<td>{{ "{:?}"|format(order.1.get_transaction_status()) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock orders_placed %}

{% block orders_received %}
<div class="p-5 rounded shadow">
  <h3>{{ i18n!(self.i18n.catalog, "Orders received") }}</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "ID") }}</th>
	<th data-field="name" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Name") }}</th>
	<th data-field="price" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Price") }}</th>
	<th data-field="status" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Status") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_received %}
      <tr>
	<th scope="row"><a href="{{ uri!("/orders", crate::orders::order_info_buyer(order.1.get_id())) }}">{{order.1.get_shortid()}}</a></th>
	<td>{{order.0.get_prodname()}}</td>
	<td>{{order.0.get_price()}}</td>
	<td>{{ "{:?}"|format(order.1.get_transaction_status()) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
{% endblock orders_received %}
