{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Reset password") }}{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <script>
      function enableBtn(){
	  document.getElementById("reset-passwd-submit").disabled = false;
      }
    </script>
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="reset_passwd" class="submit-once" method="post">
    <h1 class="h3 mb-3 fw-normal">{{ i18n!(self.i18n.catalog, "Type your email below") }}</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="user_id">
      <label for="floatingInput">{{ i18n!(self.i18n.catalog, "Email") }}</label>
    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}" data-callback="enableBtn"></div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" id="reset-passwd-submit" type="submit" onclick="onSubmit()" disabled="disabled">{{ i18n!(self.i18n.catalog, "Reset password") }}</button>
  </form>
</main>
{% block script %}
  {% call super()%}
  <script type="text/javascript">
  $('form.submit-once').submit(function(e){
    if( $(this).hasClass('form-submitted') ){
        e.preventDefault();
        return;
    }
    $(this).addClass('form-submitted');
  });
  </script>
{% endblock script %}

{% endblock body %}
