{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Reset password confirmation") }}{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>{{ i18n!(self.i18n.catalog, "Your password has been reset") }}</h1>
      <p class="lead">
      {{ i18n!(self.i18n.catalog, "Your new password is <code>{0}</code>"; self.reset_passwd.clone()) }}
      <br>
      {{ i18n!(self.i18n.catalog, "Please sign in using the new password above and remember to change your password soon.") }}
    </p>
    </div>
    <br>
</main>
{% endblock content %}
