{% extends "base.html" %}
{% block title %}注册{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <script>
    function enableBtn(){
      document.getElementById("signup-submit").disabled = false;
    }
    </script>
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="create_user" method="post" class="submit-once" id="signup-form">
    <h1 class="h3 mb-3 fw-normal">注册账号</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="user_info[email]">
      <label for="floatingInput">Outlook 邮箱</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingName" placeholder="Name" name="user_info[name]">
      <label for="floatingInput">中文姓名</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingSchool" placeholder="School" name="user_info[school]">
      <label for="floatingInput">学校</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="user_info[password]">
      <label for="floatingPassword">密码</label>
    </div>
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}" data-callback="enableBtn"></div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="signup-submit" onclick="onSubmit()" disabled="disabled">注册</button>
  </form>
</main>

{% block script %}
  {% call super()%}
  <script type="text/javascript">
  $('form.submit-once').submit(function(e){
    if( $(this).hasClass('form-submitted') ){
        e.preventDefault();
        return;
    }
    $(this).addClass('form-submitted');
  });
  </script>
{% endblock script %}

{% endblock body %}
