{% extends "base.html" %}
{% block title %}Sign in{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="validate" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <a href="/user/signup">Sign up</a>
  </form>
  {% include "display_flash.html" %}
</main>
{% endblock body %}
