{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Verify your email") }}{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>{{ i18n!(self.i18n.catalog, "Please complete email verification") }}</h1>
      <p class="lead">
        {{ i18n!(self.i18n.catalog, "We have already sent confirmation email to your inbox.") }}
	<br>
	{{ i18n!(self.i18n.catalog, "Please check your inbox or junk folder to see the confirmation. Click the link in the middle to complete verification.") }}
	<br>
	{{ i18n!(self.i18n.catalog, "If you haven't received any confirmation email from us, please <a href=\"mailto:admin@flibrary.info\">reach us</a> for help.")|safe }}
      </p>
    </div>
    <br>
</main>
{% endblock content %}
