{% extends "base.html" %}
{% block title %}登录{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="validate" method="post">
    <h1 class="h3 mb-3 fw-normal">登录账号</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="email">
      <label for="floatingInput">邮箱</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">密码</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"></i> 登录</button>
    <a href="/user/signup">注册</a><br>
    <a href="/user/reset_passwd">重置密码</a>
  </form>
</main>
{% endblock body %}
