<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %} | FLibrary</title>
  <meta name="description" content="An online second-hand book market">
  <meta name="author" content="FLibrary Development Taskforce">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">

  <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">
  <link href="/static/css/summernote-fix.css" rel="stylesheet">
  <link href="/static/css/summernote-lite.min.css" rel="stylesheet">
  {% endblock head %}
</head>
{% block body %}
<body>
  <div id="page-container">
   <div id="content-wrap">
   <nav class="navbar sticky-top navbar-expand-md navbar" style="background-color: #f1f1f1;">
      <div class="container">
        <a class="navbar-brand" href="/">FLibrary</a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/market">Market</a></li>
            <li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
	    <li class="nav-item"><a class="nav-link" href="https://github.com/flibrary/flibrary.github.io/wiki" target="_blank">Help</a></li>
	    <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
	    {% block navbutton %}{% endblock navbutton %}
          </ul>
        </div>
      </div>
   </nav>
   <br>

   {% block content %}{% endblock content %}

   </div>
   {% block script %}
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/static/js//bootstrap-table.min.js"></script>

  <script>
    $('.navbar-collapse a').click(() => {
        $(".navbar-collapse").collapse('hide');
    });
  </script>
  {% endblock script %}
  <br>
  <footer id="footer" class="footer mt-auto py-3 bg-light text-muted">
    <div class="container">
      <span>Copyright © 2021, FLibrary Development Taskforce<br>Licensed under MIT License.<br>Made with ❤ using NixOS, Rust, and Bootstrap.</span>
    </div>
  </footer>
  </div>
</body>
{% endblock body %}
</html>
