<div class="bg-light p-5 rounded">
  <h3>Books</h3>
  <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="id" data-sortable="true" scope="col">#</th>
	<th data-field="name" data-sortable="true" scope="col">Book name</th>
	<th data-field="category" data-sortable="true" scope="col">Category</th>
	<th data-field="price" data-sortable="true" scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
	<th scope="row"><a href="book_info?book_id={{ book.0.get_id() }}">{{loop.index}}</a></th>
	<td><a href="/market/book_info?book_id={{ book.0.get_id() }}">{{book.0.get_prodname()}}</a></td>
	{% match book.1 %}
	{% when Some with (ctg) %}
	<td>{{ctg.name()}}</td>
        {% when None %}
	<td>Not categorized</td>
        {% endmatch %}
	<td>{{book.0.get_price()}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>

