{% extends "base.html" %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<main class="container">
    {% include "display_flash.html" %}

    <div class="p-5 text-center">
    <h1 class="display-4 fw-bold">FLibrary</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Where Knowledge Values</p>
      <a href="/user" class="btn btn-primary" role="button">用户主页</a>
      <a href="/market/post_book_interim" class="btn btn-warning" role="button">上架书本</a>
    </div>
    </div>

    <br>
    <div class="p-5 rounded shadow">
      <h1>{{ user.total }} Active Users</h1>
      <p class="lead">FLibrary enjoys the popularity among juniors and seniors for its simplicity and efficiency. From your newgrader's textbook to highly-demanding university-level coursebooks, we cover them all, in a right way.</p>
    </div>

    <br>
    <div class="p-5 rounded shadow">
      <h1>CN¥ {{ order.total }} Trading Volume</h1>
      <p class="lead">
	Empowered by our unique process, our users find empowering books at beloved prices without a hassle.
	Don't listen to us only, trading volume tells you all!
      </p>
    </div>
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
{% endblock script %}
