<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
  $('#summernote').summernote({
      placeholder: 'Write your description here',
      tabsize: 2,
      height: 400,
      codeviewFilter: true,
      codeviewIframeFilter: true,
      callbacks: {
          onImageUpload: function(image) {
	      uploadImage(image[0]);
          }
      },
      toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['codeview']]
      ]
  });

  function uploadImage(image) {
      var data = new FormData();
      data.append("image", image);
      $.ajax({
          url: '/images/upload',
          cache: false,
          contentType: false,
          processData: false,
          data: data,
          type: "post",
          success: function(url) {
	      var image = $('<img>').attr('src', url);
	      $('#summernote').summernote("insertNode", image[0]);
          },
          error: function(data) {
	      console.log(data);
          }
      });
  }
  </script>
