{% extends "base.html" %}
{% block title %}书店{% endblock title %}
{% block navbutton %}<li class="nav-item"><a href="/market/post_book_interim" class="btn btn-warning" role="button">上架书本</a></li>{% endblock navbutton %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>欢迎来到书店</h1>
    <p class="lead">在这里您可以看到用户们上架的书，您也可以自己上架书本</p>
    <a href="categories" class="btn btn-primary" role="button">按照课程进行分类</a>
    {% match ctg %}
    {% when Some with (ctg) %}
    <a href="explore?category={{ctg}}" class="btn btn-success" role="button">卡片视图</a>
    {% when None %}
    <a href="explore" class="btn btn-success" role="button">卡片视图</a>
    {% endmatch %}
  </div>
  <br>

  <div class="p-5 rounded shadow">
  {% if books.len() > 0 %}
  {% include "book_list.html" %}
  {% else %}
  <h3>没有符合条件的书本</h3>
  {% endif %}
  </div>
  <br>
</main>
{% endblock content %}
