{% extends "base.html" %}
{% block title %}Market{% endblock title %}
{% block navbutton %}<li class="nav-item"><a href="/market/post_book_interim" class="btn btn-warning" role="button">Post a book</a></li>{% endblock navbutton %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>Welcome to the market</h1>
    <p class="lead">Here you can see what books are on sale and post your own books.</p>
    <a href="categories" class="btn btn-primary" role="button">Browse by categories</a>
    {% match ctg %}
    {% when Some with (ctg) %}
    <a href="explore?category={{ctg}}" class="btn btn-success" role="button">Card View</a>
    {% when None %}
    <a href="explore" class="btn btn-success" role="button">Card View</a>
    {% endmatch %}
  </div>
  <br>

  <div class="p-5 rounded shadow">
  {% if books.len() > 0 %}
  {% include "book_list.html" %}
  {% else %}
  <h3>No books under your request</h3>
  {% endif %}
  </div>
  <br>
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  <script type="text/javascript">var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();(function(){var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];s1.async=true;s1.src='https://embed.tawk.to/61d7e5daf7cf527e84d0dfde/1fopljokh';s1.charset='UTF-8';s1.setAttribute('crossorigin','*');s0.parentNode.insertBefore(s1,s0);
})();</script>
{% endblock script %}
