{% extends "base.html" %}
{% block head %}
{% call super() %}
<link href="/static/css/markdown.css" rel="stylesheet">
<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>
{% endblock head %}
{% block title %}Book info{% endblock title %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
    {% block book %}
    <h1>{{ book.get_prodname() }}</h1>
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">Price</th>
      <td>CN¥ {{ book.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">Category</th>
      <td><a href="categories?ctg={{ category.id() }}">{{ category.name() }}</a></td>
    </tr>
    </tbody>
    </table>
    {% endblock %}
    </div>
    <br>

    <div class="bg-light p-5 rounded markdown-body">
      {{ desc_rendered|safe }}
    </div>
    <br>

    <div class="bg-light p-5 rounded">
    {% block seller %}
    <h1>Seller's contact info</h1>
    <a href="/user" class="btn btn-primary" role="button">Sign in to contact the seller</a>
    {% endblock seller %}
    </div>
    <br>
</main>
{% endblock content %}
