{% extends "base.html" %}
{% block head %}
{% call super() %}
<style>
	.html-body {
		box-sizing: border-box;
		min-width: 200px;
		margin: 0 auto;
		padding: 45px;
	}

	.html-body img {
	    max-width:100%!important
	}
</style>
{% endblock head %}
{% block title %}书本信息{% endblock title %}

{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
    {% block book %}
    <h1>{{ book.get_prodname() }}</h1>
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">价格</th>
      <td>CN¥ {{ book.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">ID</th>
      <td>{{ book.get_shortid() }}</td>
    </tr>
    <tr>
      <th scope="row">种类</th>
      	{% match category %}
	{% when Some with (ctg) %}
        <td><a href="categories?category={{ ctg.id() }}">{{ ctg.name() }}</a></td>
        {% when None %}
	<td>Not categorized</td>
        {% endmatch %}
    </tr>
    <tr>
      <th scope="row">状态</th>
      <td>{{ "{:?}"|format(book.get_product_status()) }}</td>
    </tr>
    </tbody>
    </table>
    {% endblock book %}
    {% block actions %}{% endblock actions %}
    </div>
    <br>

    <div class="shadow p-5 rounded html-body">
      {{ book.get_description()|safe }}
    </div>
    <br>

    <div class="p-5 rounded shadow">
    {% block seller %}
    <h1>联系卖家</h1>
    <a href="/user" class="btn btn-primary" role="button">登录以联系卖家</a>
    {% endblock seller %}
    </div>
    <br>

    <div class="p-5 rounded shadow">
      {% block seller_desc %}
          <h1>卖家基本信息</h1>
	  <a href="/user" class="btn btn-primary" role="button">登录以查看卖家信息</a>
      {% endblock seller_desc %}
    </div>
    <br>
</main>
{% endblock content %}
