{% extends "book_info_guest.html" %}
{% block seller_desc %}
    {% match seller.get_description() %}
    {% when Some with (desc) %}
    {{ desc|safe }}
    {% when None %}
    <h3>{{ seller.get_name() }} has no profile</h3>
    {% endmatch %}
{% endblock seller_desc %}
{% block seller %}
    <h1>Seller's contact info</h1>
    <table class="table table-hover">
      <tbody>
	<tr>
	  <th scope="row">Seller's email</th>
	  <td><a href="mailto:{{seller.get_id()}}">{{ seller.get_id() }}</a></td>
	</tr>
	<tr>
	  <th scope="row">Seller's real name</th>
	  <td><a href="/user?user_id={{seller.get_id()}}">{{ seller.get_name() }}</a></td>
	</tr>
	<tr>
	  <th scope="row">Seller's school</th>
	  <td>{{ seller.get_school() }}</td>
	</tr>
	<tr>
	  <th scope="row">Seller's account status</th>
	  <td>{{ "{:?}"|format(seller.get_user_status()) }}</td>
	</tr>
      </tbody>
    </table>
    <a href="/messages/chat?user_id={{seller.get_id()}}" class="btn btn-primary" role="button">Send a message</a>
{% endblock seller %}

{% block actions %}
<a href="/orders/purchase?book_id={{book.get_id()}}" class="btn btn-primary" role="button" onclick="return confirm('Do you really want to purchase it?');">Purchase</a>
{% endblock actions %}
