{% extends "book_info_user.html" %}

{% block seller %}
<h1>Contact info</h1>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><a href="mailto:{{seller.get_id()}}">{{ seller.get_id() }}</a></td>
    </tr>
    <tr>
      <th scope="row">Real name</th>
      <td><a href="/user?user_id={{seller.get_id()}}">{{ seller.get_name() }}</a></td>
    </tr>
    <tr>
      <th scope="row">School</th>
      <td>{{ seller.get_school() }}</td>
    </tr>
    <tr>
      <th scope="row">Account status</th>
      <td>{{ "{:?}"|format(seller.get_user_status()) }}</td>
    </tr>
  </tbody>
</table>
{% endblock seller %}

{% block actions %}
<a href="post_book?book_id={{book.get_id()}}" class="btn btn-primary" role="button">Update</a>
<a href="instruction?book_id={{book.get_id()}}" class="btn btn-warning" role="button">Instruction</a>
<a href="delete?book_id={{book.get_id()}}" class="btn btn-danger" role="button" onclick="return confirm('Please confirm your action');">Delete</a>
<a href="/orders/purchase?book_id={{book.get_id()}}" class="btn btn-primary" role="button" onclick="return confirm('Do you really want to purchase it?');"><i class="bi bi-credit-card"></i> Purchase</a>
{% endblock actions %}
