{% extends "book_info_guest.html" %}
{% block seller_desc %}
    {% match seller.get_description() %}
    {% when Some with (desc) %}
    {{ desc|safe }}
    {% when None %}
    <h3>{{ seller.get_name() }} 没有简介</h3>
    {% endmatch %}
{% endblock seller_desc %}
{% block seller %}
    <h1>联系卖家</h1>
    <table class="table table-hover">
      <tbody>
	<tr>
	  <th scope="row">卖家邮箱</th>
	  <td><a href="mailto:{{seller.get_id()}}">{{ seller.get_id() }}</a></td>
	</tr>
	<tr>
	  <th scope="row">卖家姓名</th>
	  <td><a href="/user?user_id={{seller.get_id()}}">{{ seller.get_name() }}</a></td>
	</tr>
	<tr>
	  <th scope="row">卖家学校</th>
	  <td>{{ seller.get_school() }}</td>
	</tr>
      </tbody>
    </table>
    <a href="/messages/chat?user_id={{seller.get_id()}}" class="btn btn-primary" role="button">发送消息</a>
{% endblock seller %}

{% block actions %}
<a href="{{ uri!("/orders", crate::orders::purchase(self.book.get_id())) }}" class="btn btn-primary" role="button" onclick="return confirm('Do you really want to purchase it?');"><i class="bi bi-credit-card"></i> 购买</a>
{% endblock actions %}
