{% extends "base.html" %}
{% block title %}Categories{% endblock title %}
{% block content %}
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Welcome to the market</h1>
    <p class="lead">Here you can see what books are on sale and post your own books.</p>
    <a href="all_books" class="btn btn-primary" role="button">Browse all books</a>
  </div>
  <br>

  <div class="bg-light p-5 rounded">
  {% if categories.len() > 0 %}
    <h3>Categories</h3>
    <div class="list-group">
      {% for category in categories %}
      <a href="categories?category={{category.id()}}" class="list-group-item list-group-item-action">{{category.name()}}</a>
      {% endfor %}
    </div>
  {% else %}
    <h3>No categoris found under your request, this is considered as an error. Please contact the administrator</h3>
  {% endif %}
  </div>
  <br>
</main>
{% endblock content %}
