{% extends "base.html" %}
{% block title %}种类{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>欢迎来带书</h1>
    <p class="lead">在这里您可以看到用户们上架的书，您也可以自己上架书本</p>
    <a href="all_books" class="btn btn-primary" role="button">浏览所有书本</a>
  </div>
  <br>

  <div class="p-5 rounded shadow">
  {% if categories.len() > 0 %}
    <h3>书本分类</h3>
    <div class="list-group">
      {% for category in categories %}
      <a href="categories?category={{category.id()}}" class="list-group-item list-group-item-action">{{category.name()}}</a>
      {% endfor %}
    </div>
  {% else %}
    <h3>在您的请求下没有找到任何类别，这将被视为一个错误。请联系管理员。</h3>
  {% endif %}
  </div>
  <br>
</main>
{% endblock content %}
