{% extends "base.html" %}
{% block title %}加入 FLibrary Pro 计划{% endblock title %}
{% block content %}
  <main class="container">
  <div class="p-5 rounded shadow">
    <h1>加入 FLibrary Pro 计划</h1>
    <p class="lead">选择您的书本类型，跟据提示填写标签。其余的都放心交给我们吧！</p>

    <form action="delegate_book" method="post">
      <div class="form-group row">
	<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
	<div class="col-sm-4">
          <select class="form-select" aria-label="Default select example" name="category">
	    {% for category in categories %}
	    <option value="{{category.id()}}">{{category.name()}}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">下一步</button>
    </form>
  </div>
  <br>
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  {% include "summernote.html" %}
{% endblock script %}
