{% extends "base.html" %}
{% block title %}缴纳押金{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>您的书本 #{{ book.get_shortid() }} 的押金状况</h1>
      <br>
      {% match book.get_product_status() %}
      {% when sails_db::enums::ProductStatus::Normal %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
      </div>
      <br>
      <h3>书本状态正常，请支付押金来完成合约</h3>
      使用支付宝扫描下方二维码，然后点击下一步来确认您的付款。<br>
      <br>

      {% match resp.as_ref().unwrap() %}
      {% when Ok with (resp) %}
      <div class="alert alert-warning" role="alert">
	注意：<b>请在扫码后三小时内付款。</b>
      </div>
      <center><div id="qrcode"></div></center><br>
      <a href="alipays://platformapi/startapp?appId=20000067&url={{urlencoding::encode(resp.qr_code)}}" class="btn btn-primary" role="button">Pay via AliPay</a>
      {% when Err with (err) %}
      <div class="alert alert-warning" role="alert">
	<b>创建交易错误，请联系客服</b>: {{ err }}
      </div>
      {% endmatch %}
      <a href="{{ uri!("/market", crate::market::deposit_progress(self.book.get_id())) }}" class="btn btn-success" role="button">下一步</a>


      {% when sails_db::enums::ProductStatus::Verified %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>您的书本已经成功被确认</h3>
      合约已经生效，押金会在交易成功完成后全款退还。

      {% else %}
      <div class="progress">
	<div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>您的书本合约不可用</h3>
      书本已经成功被交易或被禁用，因此您不可签署合约
      {% endmatch %}
    </div>
<br>
<div class="p-5 rounded shadow">
      <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">价格</th>
      <td>CN¥ {{ book.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">卖家</th>
      <td>{{ book.get_seller_id() }}</td>
    </tr>
    <tr>
      <th scope="row">书本 ID</th>
      <td><a href="{{ uri!("/market", crate::market::book_page_owned(self.book.get_id())) }}">{{ book.get_shortid() }}</a></td>
    </tr>
    <tr>
      <th scope="row">状态</th>
      <td>{{ "{:?}"|format(book.get_product_status()) }}</td>
    </tr>
    </tbody>
    </table>
  </div>
</main>
{% endblock content %}

{% block script %}
{% call super()%}
  {% if resp.is_some() %}
  {% if resp.as_ref().unwrap().is_ok() %}
  <script type="text/javascript">
    var qrcode = new QRCode("qrcode");
    qrcode.makeCode("{{resp.as_ref().unwrap().as_ref().unwrap().qr_code}}");
  </script>
  {% endif %}
  {% endif %}
{% endblock script %}
