{% extends "base.html" %}
{% block title %}Market{% endblock title %}
{% block navbutton %}<li class="nav-item"><a href="/market/post_book_interim" class="btn btn-warning" role="button">Post a book</a></li>{% endblock navbutton %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>Welcome to the market</h1>
    <p class="lead">Here you can see what books are on sale and post your own books.</p>
    <a href="categories" class="btn btn-primary" role="button">Browse by categories</a>
    {% match ctg %}
    {% when Some with (ctg) %}
    <a href="all_books?category={{ctg}}" class="btn btn-success" role="button">Table View</a>
    {% when None %}
    <a href="all_books" class="btn btn-success" role="button">Table View</a>
    {% endmatch %}
  </div>
  <br>

  {% if books.len() > 0 %}
  <div class="p-5 rounded shadow">
    <div class="row grid">
	{% for book in books %}
	<div class="col-sm-6 col-lg-4 mb-4 grid-item">
	  <div class="card">
	    {% match book.1 %}
	    {% when Some with (img) %}
	    <img src="{{img}}?size=thumbnail" loading="lazy" class="card-img-top">
            {% when None %}
            {% endmatch %}
            <div class="card-body">
              <h5 class="card-title"><a href="/market/book_info?book_id={{ book.0.get_id() }}">{{book.0.get_prodname()}}</a></h5>
              <p class="card-text">Price: {{book.0.get_price()}}</p>
            </div>
	  </div>
	</div>
	{% endfor %}

      </div>
    </div>
    <br>
  {% else %}
    <div class="p-5 rounded shadow">
      <h3>No books under your request</h3>
    </div>
    <br>
  {% endif %}
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/imagesloaded@4.1.4/imagesloaded.min.js"></script>
  <script>
    // init Masonry
    var grid = document.querySelector('.grid');

    var msnry = new Masonry( grid, {
	itemSelector: '.grid-item',
	percentPosition: true
    });

    imagesLoaded( grid ).on( 'progress', function() {
	// layout Masonry after each image loads
	msnry.layout();
    });
  </script>

  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="9a9d77d4-fad3-4ab1-9022-e0f6856ab746";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock script %}
