{% extends "base.html" %}
{% block title %}书店{% endblock title %}
{% block navbutton %}<li class="nav-item"><a href="/market/post_book_interim" class="btn btn-warning" role="button">上架书本</a></li>{% endblock navbutton %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>欢迎来到书本市场</h1>
    <p class="lead">在这里您可以看到用户们上架的书，您也可以自己上架书本</p>
    <a href="{{ uri!("/search", crate::search::categories_all) }}" class="btn btn-primary" role="button">通过类别搜索</a>
    <a href="explore?table=true" class="btn btn-success" role="button">表格视图</a>
  </div>
  <br>

  {% if books.len() > 0 %}
  <div class="p-5 rounded shadow">
    <div class="row grid">
	{% for book in books %}
	<div class="col-sm-6 col-lg-4 mb-4 grid-item">
	  <div class="card">
	    {% match book.1 %}
	    {% when Some with (img) %}
	    <img src="{{img}}?size=thumbnail" loading="lazy" class="card-img-top">
            {% when None %}
            {% endmatch %}
            <div class="card-body">
              <h5 class="card-title"><a href="{{ uri!("/market", crate::market::book_page_owned(book.0.get_id())) }}">{{book.0.get_prodname()}}</a></h5>
	      <h5 class="card-subtitle mb-2">
		{% let tags = book.3.clone() %}
		{% include "display_tag.html" %}
	      </h5>
              <p class="card-text"><b>价格: ¥{{book.0.get_price()}}</b> <del>原价：¥{{book.2.get_price()}}</del></p>
            </div>
	  </div>
	</div>
	{% endfor %}

      </div>
    </div>
    <br>
  {% else %}
    <div class="p-5 rounded shadow">
      <h3>没有符合条件的书本</h3>
    </div>
    <br>
  {% endif %}
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/imagesloaded@4.1.4/imagesloaded.min.js"></script>
  <script>
    // init Masonry
    var grid = document.querySelector('.grid');

    var msnry = new Masonry( grid, {
	itemSelector: '.grid-item',
	percentPosition: true
    });

    imagesLoaded( grid ).on( 'progress', function() {
	// layout Masonry after each image loads
	msnry.layout();
    });
  </script>
{% endblock script %}
