{% extends "base.html" %}
{% block title %}Instruction{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>Here are the last things to do</h1>

      <h4>Step 1</h4>
      Write down the following information on a sticky note and put it on the book:
      <ol class="list-group list-group-numbered">
	<li class="list-group-item">your book ID: <code>{{ info.get_shortid() }}</code></li>
	<li class="list-group-item">your real name</li>
      </ol>
      <br>
      <h4>Step 2</h4>
      Hand it to us in our warehouse on the third floor.
      <br>
      <hr>
      <h4>Finished?</h4>
      <a href="book_info?book_id={{ info.get_id() }}" class="btn btn-primary" role="button">Go to the book page</a>
    </div>
    <br>
</main>
{% endblock content %}
