{% extends "base.html" %}
{% block title %}完成您的书本上架{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>最后一步</h1>

      <h4>如果您现在就打算把书本交给我们</h4>
      请在一张便签纸上写下以下信息
      <ol class="list-group list-group-numbered">
	<li class="list-group-item">您书本的 ID: <code>{{ info.get_shortid() }}</code></li>
	<li class="list-group-item">您的真实姓名</li>
      </ol>
      然后和书本一并交给我们：
      <ol class="list-group">
	<li class="list-group-item">S2401 李语涵 杨嘉煜</li>
	<li class="list-group-item">S2402 陈梓涵 曾祺</li>
	<li class="list-group-item">S2403 闻欣怡</li>
	<li class="list-group-item">S2302 赵得雅 梁立子琳 郑裕浩华 何欣瑜</li>
	<li class="list-group-item">S2202 舒晟华 应侃洋</li>
	<li class="list-group-item">S2203 张顶立</li>
      </ol>
      <br>
      <h4>如果您需要在成交后再交付书本</h4>
      您需要和我们签定合约并支付押金来完成书本上架。押金在交易成功结束后会退还给您，详见合约条款。
      <br>
      <a href="{{ uri!("/market", crate::market::deposit_info(self.info.get_id())) }}" class="btn btn-success" role="button">支付押金</a>
      <br>
      <hr>
      <h4>大功告成？</h4>
      <a href="{{ uri!("/market", crate::market::book_page_owned(self.info.get_id())) }}" class="btn btn-primary" role="button">前往书本页面</a>
    </div>
    <br>
</main>
{% endblock content %}
