{% extends "base.html" %}
{% block title %}Post book{% endblock title %}
{% block content %}
  <main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Post a book</h1>
    <p class="lead">Fill in relevant information to post a book for sale. If you want to add pictures, upload them elsewhere and paste link in the description below. If you don't know how to, please refer to our <a href="https://github.com/flibrary/flibrary.github.io/wiki/PublishGuide " target="_blank">help page</a>.</p>
  </div>
  <br>

  <div class="bg-light p-5 rounded">
    <h1>Book info</h1>
    {% block form_link %}
    <form action="cow_book" method="post">
    {% endblock form_link %}
    <div class="form-group row">
      <label for="inputBook" class="col-sm-2 col-form-label">Book name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputBook" placeholder="Book name" name="prodname">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" name="category">
	  {% for category in categories %}
	    <option value="{{category.id()}}">{{category.name()}}</option>
	  {% endfor %}
	</select>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-4">
        <input type="number" min="0" class="form-control" id="inputPrice" placeholder="Price" name="price">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
	<textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="description"></textarea>
      </div>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Post the book!</button>
  </form>
  </div>
  <br>
</main>
{% endblock content %}
