{% extends "base.html" %}
{% block title %}选择书本上架方式{% endblock title %}
{% block content %}
  <main class="container">
  <div class="p-5 rounded shadow">
    <h1>您想以何种方式上架书本？</h1>
    <p class="lead">现在我们提供两种书本上架方式</p>
    <div class="row">
      <div class="col-sm-6 mt-3">
	<div class="card">
	  <div class="card-header">
	    自助上架
	  </div>
	  <div class="card-body">
            <p class="card-text">自助上架可以让您完全个性化您的书本介绍和定价，充分展现书本背后的故事和价值</p>
	    <ul class="list-group list-group-flush">
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 简约坚固的包装服务</li>
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 免费配送书本至买家</li>
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 成交收取10元服务费</li>
	    </ul>
	    <br>
            <a href="/market/post_book" class="btn btn-primary">开始</a>
	  </div>
	</div>
      </div>

      <div class="col-sm-6 mt-3">
	<div class="card">
	  <div class="card-header">
	    FLibrary Pro
	  </div>
	  <div class="card-body">
            <p class="card-text">快速，省心，有效。FLibrary Pro 计划可以在保证书本竞争力的同时最大成度的节约您的时间</p>
	    <ul class="list-group list-group-flush">
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 高标准的书本清洁包装配送服务</li>
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 专门的文案和定价管理</li>
	      <li class="list-group-item"><i class="bi bi-check-circle-fill"></i> 成交收取10%服务费</li>
	    </ul>
	    <br>
            <a href="delegate_book" class="btn btn-primary">开始</a>
	  </div>
	</div>
      </div>
  </div>
  </main>
{% endblock content %}

{% block script %}
  {% call super()%}
  {% include "summernote.html" %}
{% endblock script %}
