{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Chat") }}{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Chat with {0}"; self.receiver.get_id()) }}</h1>
    <br>

  {% if messages.len() > 0 %}
    {% for message in messages %}
    {% if message.get_send() == receiver.get_id() %}
    <div class="card bg-light mb-3">
    {% else %}
    <div class="card border-primary border-3 mb-3">
    {% endif %}
      <div class="card-header">{{message.get_send()}}
	<small class="float-right text-secondary">{{message.get_time_sent().format("%Y-%m-%d %H:%M:%S")}}</small>
      </div>
      <div class="card-body">
        <p class="card-text"><pre>{{ message.get_body() }}</pre></p>
     </div>
    </div>
  {% endfor %}
  {% else %}
    <h3>{{ i18n!(self.i18n.catalog, "No chat with {0}"; self.receiver.get_id()) }}</h3>
  {% endif %}

  </div>
  <br>
  <div class="shadow p-5 rounded" id="draft_section">
    <form action="{{ uri!("/messages", crate::messages::send(self.receiver.get_id())) }}" method="post">
      <div class="form-group row">
	<div class="col-sm-10">
	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" placeholder="{{ i18n!(self.i18n.catalog, "Type your message here") }}"></textarea>
	</div>
      </div>
      <br>
      <button class="col-sm-10 btn btn-lg btn-primary" type="submit">{{ i18n!(self.i18n.catalog, "Send") }}</button>
    </form>
  </div>
</main>
{% endblock content %}
