{% extends "base.html" %}
{% block title %}消息{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>消息</h1>
    <p class="lead">以下是所有发送给您的消息</p>
  </div>
  <br>

  {% if message_list.len() > 0 %}
    <div class="p-5 rounded shadow">
      <h3>最近的消息</h3>
      <table class="table" data-toggle="table" data-pagination="true" data-search="true">
        <thead>
	  <tr>
	    <th data-field="id" scope="col">用户</th>
	    <th data-field="body" scope="col">内容</th>
	    <th data-field="time" data-sortable="true" scope="col">时间</th>
	  </tr>
        </thead>
        <tbody>
	  {% for message in message_list %}
	  <tr>
	    <th scope="row"><a href="/messages/chat?user_id={{ message.get_send() }}">{{ message.get_send() }}</a></th>
	    <td>{{message.get_body()}}</td>
	    <td>{{message.get_time_sent()}}</td>
	  </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
  {% else %}
    <div class="p-5 rounded shadow">
      <h3>您还没有收到任何消息</h3>
    </div>
    <br>
  {% endif %}
</main>
{% endblock content %}
