{% extends "base.html" %}
{% block title %}Metrics{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>Metrics and Statistics</h1>
    <p class="lead">Don't confide confidential information to anyone.</p>
  </div>
  <br>

  <div class="p-5 rounded shadow">
    <h1>Orders</h1>
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">Subtotal of effective orders</th>
      <td>CN¥ {{ order.total }}</td>
    </tr>
    <tr>
      <th scope="row">Subtotal of orders placed</th>
      <td>CN¥ {{ order.placed_subtotal }}</td>
    </tr>
    <tr>
      <th scope="row">Subtotal of orders paid</th>
      <td>CN¥ {{ order.paid_subtotal }}</td>
    </tr>
    <tr>
      <th scope="row">Subtotal of orders finished</th>
      <td>CN¥ {{ order.finished_subtotal }}</td>
    </tr>
    <tr>
      <th scope="row">Subtotal of orders refunded</th>
      <td>CN¥ {{ order.refunded_subtotal }}</td>
    </tr>
    <tr>
      <th scope="row"># of effective orders</th>
      <td>{{ order.total_num }}</td>
    </tr>
    <tr>
      <th scope="row"># of orders placed</th>
      <td>{{ order.placed }}</td>
    </tr>
    <tr>
      <th scope="row"># of orders paid</th>
      <td>{{ order.paid }}</td>
    </tr>
    <tr>
      <th scope="row"># of orders finished</th>
      <td>{{ order.finished }}</td>
    </tr>
    <tr>
      <th scope="row"># of orders refunded</th>
      <td>{{ order.refunded }}</td>
    </tr>
    </tbody>
    </table>
  </div>
  <br>

  <div class="p-5 rounded shadow">
    <h1>Users</h1>
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row"># of effective users</th>
      <td>{{ user.total }}</td>
    </tr>
    <tr>
      <th scope="row"># of normal users</th>
      <td>{{ user.normal }}</td>
    </tr>
    <tr>
      <th scope="row"># of customer service workers</th>
      <td>{{ user.customer_service }}</td>
    </tr>
    <tr>
      <th scope="row"># of store keepers</th>
      <td>{{ user.store_keeper }}</td>
    </tr>
    <tr>
      <th scope="row"># of admin</th>
      <td>{{ user.admin }}</td>
    </tr>
    <tr>
      <th scope="row"># of disabled users</th>
      <td>{{ user.disabled }}</td>
    </tr>
    </tbody>
    </table>
  </div>
</main>
{% endblock content %}
