{% extends "base.html" %}
{% block title %}Order Details{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>订单 #{{ order.get_shortid() }} 的细节</h1>
      <br>
      {% match order.get_transaction_status() %}
      {% when sails_db::enums::TransactionStatus::Refunded %}
      <div class="progress">
	<div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>订单已退款（已取消）</h3>

      {% when sails_db::enums::TransactionStatus::Placed %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
      </div>
      <br>
      <h3>成功下单</h3>

      {% when sails_db::enums::TransactionStatus::Paid %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"></div>
      </div>
      <br>
      <h3>已成功付款</h3>

      {% when sails_db::enums::TransactionStatus::Finished %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>订单已成功交付</h2>
      {% endmatch %}
    </div>
<br>
<div class="p-5 rounded shadow">
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">总价</th>
      <td>CN¥ {{ order.get_total() }}</td>
    </tr>
    <tr>
      <th scope="row">单价</th>
      <td>CN¥ {{ order.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">购买数量</th>
      <td>{{ order.get_quantity() }}</td>
    </tr>
    <tr>
      <th scope="row">买家收货地址</th>
      <td>{{ order.get_address() }}</td>
    </tr>
    <tr>
      <th scope="row">买家</th>
      <td>{{ order.get_buyer() }}</td>
    </tr>
    <tr>
      <th scope="row">卖家</th>
      <td>{{ prod.get_seller_id() }}</td>
    </tr>
    <tr>
      <th scope="row">商品 ID</th>
      <td><a href="{{ uri!("/store", crate::pages::store::prod_page_owned(self.prod.get_id())) }}">{{ prod.get_shortid() }}</a></td>
    </tr>
    <tr>
      <th scope="row">时间戳</th>
      <td>{{ order.get_time_sent() }}</td>
    </tr>
    <tr>
      <th scope="row">状态</th>
      <td>{{ "{:?}"|format(order.get_transaction_status()) }}</td>
    </tr>
    </tbody>
    </table>
  </div>
</main>
{% endblock content %}
