{% extends "base.html" %}
{% block title %}Admin dashboard{% endblock title %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>You are now at the admin dashboard</h1>
    <p class="lead">Please make sure every action you make has been well-thought.</p>
  </div>
  <br>

  <div class="shadow p-5 rounded border border-5 border-warning">
  <h1>All tags</h1>
  {% if tags.len() > 0 %}
    <div class="list-group">
      {% for tag in tags %}
        <a href="{{ uri!("/admin", crate::pages::admin::admin_tag(tag.get_id())) }}" class="list-group-item list-group-item-action">
        {% match tag.get_html() %}
        {% when Some with (html) %}
          {% match tag.get_description() %}
          {% when Some with (desc) %}
          <span data-toggle="tooltip" data-placement="bottom" title="{{desc}}">
            {{html|safe}}
          </span>
          {% when None %}
            {{html|safe}}
          {% endmatch %}
        {% when None %}
	  {{ tag.get_name() }}
        {% endmatch %}
        </a>
      {% endfor %}
    </div>
  {% else %}
    <h3>在您的请求下没有找到任何类别，这将被视为一个错误。请联系管理员。</h3>
  {% endif %}
  </div>

</main>
{% endblock content %}
