<!DOCTYPE html>
<html lang="en">
<body>
<script>
    function returnApp() {
        AlipayJSBridge.call("exitApp")
    }
    function ready(a) {
        window.AlipayJSBridge ? a && a() : document.addEventListener("AlipayJSBridgeReady", a, !1)
    }
    ready(function() {
        try {
            var info = {
                actionType: "scan",
                u: "{{ alipay_id }}",
                a: "{{ book.get_price() }}",
                m: "ODR# {{ order.get_shortid() }}; BYR: {{ order.get_buyer() }}",
                biz_data: {
                    s: "money",
                    u: "{{ alipay_id }}",
                    a: "{{ book.get_price() }}",
                    m: "ODR# {{ order.get_shortid() }}; BYR: {{ order.get_buyer() }}"
                }
            }
        } catch (b) {
            returnApp()
        }
	// Setup the title
	AlipayJSBridge.call('setTitle', {
                    title: 'FLibrary',
                    subtitle: 'Online Payment Center'
        });
	// Setup the transfer
        AlipayJSBridge.call("startApp", {
            appId: "20000123",
            param: info
        }, function(a) {
	    if (a.errorCode > 0) {
                alert(JSON.stringify(a));
            }
	})
    });
    document.addEventListener("resume", function(a) {
        returnApp()
    });
</script>
</body>
</html>
