{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Checkout") }}{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Please review and submit your order") }}</h1>
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "ID") }}</th>
      <td>{{ prod.get_shortid() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Name") }}</th>
      <td>{{ prod.get_prodname() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Price per unit") }}</th>
      <td>{{ "{:?}"|format(prod.get_currency()) }} {{ prod.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Quantity in stock") }}</th>
      <td>{{ prod.get_quantity() }}</td>
    </tr>
    </tbody>
    </table>

    <form action="{{ uri!("/orders", crate::orders::purchase(self.prod.get_id())) }}" method="post">
    <div class="form-group row">
      <label for="inputQuantity" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Quantity to purchase") }}</label>
      <!--<input type="number" min="1" max="{{prod.get_quantity()}}" class="form-control" id="inputQuantity" placeholder="Quantity" value="1" name="quantity" required>-->
      <input type="number" min="1" max="3" class="form-control" id="inputQuantity" placeholder="Quantity" value="1" name="quantity" required>
    </div>
    <br>

    <div class="form-group row">
      <label for="inputAddress" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Address") }}</label>
      {% match recent_address %}
      {% when Some with (addr) %}
      <input type="text" class="form-control" id="inputAddress" name="address" value="{{addr}}" placeholder="{{ i18n!(self.i18n.catalog, "If content is completely digital, you may leave it blank.") }}">
      {% when None %}
      <input type="text" class="form-control" id="inputAddress" name="address" placeholder="{{ i18n!(self.i18n.catalog, "If content is completely digital, you may leave it blank.") }}">
      {% endmatch %}
    </div>
    <br>

    <div class="form-group row">
      <label for="inputPayment" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Payment method") }}</label>
      <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" name="payment">
	    {% if sails_db::enums::Payment::Alipay.compatible_with(prod.get_currency()) %}
	    <option value="alipay">{{ i18n!(self.i18n.catalog, "AliPay (supports CNY only)") }}</option>
	    {% else %}
	    <option value="alipay" disabled>{{ i18n!(self.i18n.catalog, "AliPay (supports CNY only)") }}</option>
	    {% endif %}

	    {% if sails_db::enums::Payment::Paypal.compatible_with(prod.get_currency()) %}
	    <option value="paypal">{{ i18n!(self.i18n.catalog, "PayPal (supports all currency)") }}</option>
	    {% else %}
	    <option value="paypal" disabled>{{ i18n!(self.i18n.catalog, "PayPal (supports all currency)") }}</option>
	    {% endif %}
	</select>
      </div>
    </div>
    <br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ i18n!(self.i18n.catalog, "Submit") }}</button>
  </form>
  </div>
</main>
{% endblock content %}
