{% extends "base.html" %}
{% block title %}Order Details{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>Details of your order #{{ order.get_shortid() }}</h1>
      <br>
      {% match order.get_transaction_status() %}
      {% when sails_db::enums::TransactionStatus::Refunded %}
      <div class="progress">
	<div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>Order refunded (canceled)</h3>
      If you believe the order status is wrong, click on the refresh button below.<br>
      <a href="/orders/progress?order_id={{order.get_id()}}" class="btn btn-primary" role="button">Refresh</a>

      {% when sails_db::enums::TransactionStatus::Placed %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
      </div>
      <br>
      <h3>Order successfully placed</h3>
      Scan the QR code or click the button to pay. Then press "next" to proceed after you paid.<br>
      <br>

      {% match resp.as_ref().unwrap() %}
      {% when Ok with (resp) %}
      <div class="alert alert-warning" role="alert">
	注意：<b>请在扫码后三小时内付款。</b>
      </div>
      <center><div id="qrcode"></div></center><br>
      <a href="alipays://platformapi/startapp?appId=20000067&url={{urlencoding::encode(resp.qr_code)}}" class="btn btn-primary" role="button">Pay via AliPay</a>
      {% when Err with (err) %}
      <div class="alert alert-warning" role="alert">
	<b>创建交易错误，请联系客服</b>: {{ err }}
      </div>
      {% endmatch %}
      <a href="/orders/progress?order_id={{order.get_id()}}" class="btn btn-success" role="button">Next</a>


      {% when sails_db::enums::TransactionStatus::Paid %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"></div>
      </div>
      <br>
      <h3>Order successfully paid</h3>
      The last step to complete this order is to come to the warehouse to get your book! Do remember to bring the order ID: <code>{{ order.get_shortid() }}</code>.

      {% when sails_db::enums::TransactionStatus::Finished %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>Congratulations, order has been successfully finished!</h2>
      There is nothing left to do. Enjoy your book!
      {% endmatch %}
    </div>
<br>
<div class="p-5 rounded shadow">
      <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">Price</th>
      <td>CN¥ {{ book.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">Seller</th>
      <td>{{ book.get_seller_id() }}</td>
    </tr>
    <tr>
      <th scope="row">Book ID</th>
      <td><a href="/market/book_info?book_id={{ book.get_id() }}">{{ book.get_shortid() }}</a></td>
    </tr>
    <tr>
      <th scope="row">Buyer</th>
      <td>{{ order.get_buyer() }}</td>
    </tr>
    <tr>
      <th scope="row">Timestamp</th>
      <td>{{ order.get_time_sent() }}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{ "{:?}"|format(order.get_transaction_status()) }}</td>
    </tr>
    </tbody>
    </table>
  </div>
</main>
{% endblock content %}

{% block script %}
{% call super()%}
  {% if resp.is_some() %}
  {% if resp.as_ref().unwrap().is_ok() %}
  <script type="text/javascript">
    var qrcode = new QRCode("qrcode");
    qrcode.makeCode("{{resp.as_ref().unwrap().as_ref().unwrap().qr_code}}");
  </script>
  {% endif %}
  {% endif %}
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="9a9d77d4-fad3-4ab1-9022-e0f6856ab746";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
{% endblock script %}
