{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Order Details") }}{% endblock title %}
{% block content %}
<main class="container">
    <div class="p-5 rounded shadow">
      <h1>{{ i18n!(self.i18n.catalog, "Details of order #{0}"; self.order.get_shortid()) }}</h1>
      <br>
      {% match order.get_transaction_status() %}
      {% when sails_db::enums::TransactionStatus::Refunded %}
      <div class="progress">
	<div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>{{ i18n!(self.i18n.catalog, "Order has been refunded or canceled") }}</h3>
      {% block refunded_details %}
      {% endblock refunded_details %}

      {% when sails_db::enums::TransactionStatus::Placed %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
      </div>
      <br>
      <h3>{{ i18n!(self.i18n.catalog, "Your order is placed") }}</h3>
      {% block placed_details %}
      {% endblock placed_details %}

      {% when sails_db::enums::TransactionStatus::Paid %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"></div>
      </div>
      <br>
      <h3>{{ i18n!(self.i18n.catalog, "Your order is successfully paid!") }}</h3>
      {{ i18n!(self.i18n.catalog, "Thanks for your order! Stay tuned as we arrange shipment.") }}
      <br>
      {% block paid_details %}
      {% endblock paid_details %}

      {% when sails_db::enums::TransactionStatus::Finished %}
      <div class="progress">
	<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <br>
      <h3>{{ i18n!(self.i18n.catalog, "Congratulations, your order is completed!") }}</h2>
      {{ i18n!(self.i18n.catalog, "For Digital Contents, please access them at <a href=\"/user\">your portal page</a>. Any questions or need help? <a href=\"mailto:admin@flibrary.info\">Contact us</a>")|safe }}
      {% endmatch %}
    </div>
<br>
<div class="p-5 rounded shadow">
    <table class="table table-hover">
    <tbody>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Total") }}</th>
      <td>{{ "{:?}"|format(prod.get_currency()) }} {{ order.get_total() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Price per unit") }}</th>
      <td>{{ "{:?}"|format(prod.get_currency()) }} {{ order.get_price() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Quantity purchased") }}</th>
      <td>{{ order.get_quantity() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Address") }}</th>
      <td>{{ order.get_address() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Buyer") }}</th>
      <td>{{ order.get_buyer() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Seller") }}</th>
      <td>{{ prod.get_seller_id() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Product ID") }}</th>
      <td><a href="{{ uri!("/store", crate::store::prod_page_owned(self.prod.get_id())) }}">{{ prod.get_shortid() }}</a></td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Timestamp") }}</th>
      <td>{{ order.get_time_sent() }}</td>
    </tr>
    <tr>
      <th scope="row">{{ i18n!(self.i18n.catalog, "Order Status") }}</th>
      <td>{{ "{:?}"|format(order.get_transaction_status()) }}</td>
    </tr>
    </tbody>
    </table>
  </div>
</main>
{% endblock content %}
