{% extends "order_info.html" %}

{% block refunded_details %}
      {{ i18n!(self.i18n.catalog, "If you don't agree with the order details, please click the \"update\" button below.") }}<br>
      <a href="{{ uri!("/orders", crate::orders::progress_alipay(self.order.get_id())) }}" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Update") }}</a>
{% endblock refunded_details %}

{% block placed_details %}
      {{ i18n!(self.i18n.catalog, "Scan QR code using AliPay or click the button below to pay. Click next when you finished.") }}<br>
      <br>

      {% match resp.as_ref().unwrap() %}
      {% when Ok with (resp) %}
      <div class="alert alert-warning" role="alert">
	{{ i18n!(self.i18n.catalog, "Notice: <b>Please pay within three hours after you scan.</b>")|safe }}
      </div>
      <center><div id="qrcode"></div></center><br>
      <a href="alipays://platformapi/startapp?appId=20000067&url={{urlencoding::encode(resp.qr_code)}}" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Pay with AliPay") }}</a>
      {% when Err with (err) %}
      <div class="alert alert-warning" role="alert">
	{{ i18n!(self.i18n.catalog, "<b>Failed to create order, please contact us</b>: {0}"; err)|safe }}
      </div>
      {% endmatch %}
      <a href="{{ uri!("/orders", crate::orders::progress_alipay(self.order.get_id())) }}" class="btn btn-success" role="button">{{ i18n!(self.i18n.catalog, "Next") }}</a>
      <a href="{{ uri!("/orders", crate::orders::cancel_order_alipay(self.order.get_id())) }}" class="btn btn-danger" role="button" onclick="return confirm('{{ i18n!(self.i18n.catalog, "Cancel your order? This CANNOT be reverted") }}');">{{ i18n!(self.i18n.catalog, "Cancel order") }}</a>
{% endblock placed_details %}

{% block paid_details %}
      <a href="{{ uri!("/orders", crate::orders::cancel_order_alipay(self.order.get_id())) }}" class="btn btn-danger disabled" role="button" onclick="return confirm('{{ i18n!(self.i18n.catalog, "Refund your order? This CANNOT be reverted") }}');">{{ i18n!(self.i18n.catalog, "Refund") }}</a>
{% endblock paid_details %}

{% block script %}
{% call super()%}
  {% if resp.is_some() %}
  {% if resp.as_ref().unwrap().is_ok() %}
  <script type="text/javascript">
    var qrcode = new QRCode("qrcode");
    qrcode.makeCode("{{resp.as_ref().unwrap().as_ref().unwrap().qr_code}}");
  </script>
  {% endif %}
  {% endif %}
{% endblock script %}
