{% extends "base.html" %}
{% block title %}Root{% endblock title %}
{% block head %}
    {% call super() %}
    <!-- Custom styles for sign in page -->
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
{% endblock head %}

{% block body %}
<main class="form-signin text-center">
  <form action="validate" method="post">
    <h1 class="h3 mb-3 fw-normal">Provide credential</h1>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
    <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Verify</button>
  </form>
</main>
{% endblock body %}
