{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Create the Digital Content") }}{% endblock title %}
{% block content %}
  <main class="container">
  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Create the Digital Content") }}</h1>
    <p class="lead">{{ i18n!(self.i18n.catalog, "Fill in relevant information to create a digital content") }}</p>
    <br>
    <form action="cow_digicon" method="post">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Name") }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputProd" placeholder="name" name="name" required>
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="inputStorageType" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Storage Type (cannot be changed afterwards)") }}</label>
      <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" name="storage_type">
  	   <option value="s3">{{ i18n!(self.i18n.catalog, "Manually upload file (S3)") }}</option>
           <option value="gitrepo" disabled>{{ i18n!(self.i18n.catalog, "Manually upload file (git)") }}</option>
	   <option value="releaseasset">{{ i18n!(self.i18n.catalog, "Use Release Asset") }}</option>
	</select>
      </div>
    </div>
    <br>

    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ i18n!(self.i18n.catalog, "Create the Digital Content") }}</button>
  </form>
  </div>
  <br>
</main>
{% endblock content %}
