{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Digital Content Creator Center") }}{% endblock title %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Digital Content Creator Center") }}</h1>
    <a href="digicons/create_digicon" class="btn btn-primary" role="button">{{ i18n!(self.i18n.catalog, "Create a Digital Content") }}</a>
  </div>
  <br>

  <div class="shadow p-5 rounded ">
    <h1>{{ i18n!(self.i18n.catalog, "Manage your Digital Contents") }}</h1>

    <table class="table" data-toggle="table" data-pagination="true" data-search="true">
    <thead>
      <tr>
	<th data-field="name" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Name") }}</th>
	<th data-field="timestamp" data-sortable="true" scope="col">{{ i18n!(self.i18n.catalog, "Last Modified") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for digicon in digicons %}
      <tr>
	<th scope="row"><a href="{{ uri!("/digicons", crate::pages::digicons::digicon_page(digicon.get_id())) }}">{{ digicon.get_name() }}</a></th>
	<th scope="row">{{digicon.get_time_modified().format("%Y-%m-%d %H:%M:%S")}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

</main>
{% endblock content %}
