{% extends "base.html" %}
{% block title %}通过类别搜索{% endblock title %}
{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1>按照类别搜索您想要的产品</h1>


    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ uri!("/search", crate::search::categories_all) }}">所有类别</a></li>
	{% for parent in parent_ctgs %}
	  <li class="breadcrumb-item"><a href="{{ uri!("/search", crate::search::categories(parent.id())) }}">{{parent.name()}}</a></li>
        {% endfor %}
        {% match current_ctg %}
        {% when Some with (current_ctg)%}
        <li class="breadcrumb-item active" aria-current="page">{{current_ctg.name()}}</li>
        {% when None %}
        {% endmatch %}
      </ol>
    </nav>

    {% match categories %}
    {% when Some with (categories)%}
      {% if categories.len() > 0 %}
      <div class="list-group">
        {% for category in categories %}
        <a href="{{ uri!("/search", crate::search::categories(category.id())) }}" class="list-group-item list-group-item-action">{{category.name()}}</a>
        {% endfor %}
      </div>
      {% else %}
      <h3>在您的请求下没有找到任何类别，这将被视为一个错误。请联系管理员。</h3>
      {% endif %}
    {% when None %}
      <h4>没有更多子类别</h4>
    {% endmatch %}
  </div>
  <br>

  {% if products.len() > 0 %}
  <div class="p-5 rounded shadow">
    <h3>搜索结果</h3>
    <div class="row grid">
	{% for product in products %}
	<div class="col-sm-6 col-lg-4 mb-4 grid-item">
	  <div class="card">
	    {% match product.1 %}
	    {% when Some with (img) %}
	    <a href="{{ uri!("/market", crate::market::book_page_owned(product.0.get_id())) }}">
	      <img src="{{img}}?size=thumbnail" loading="lazy" class="card-img-top">
            </a>
            {% when None %}
            {% endmatch %}
            <div class="card-body">
              <h5 class="card-title"><a href="{{ uri!("/market", crate::market::book_page_owned(product.0.get_id())) }}">{{product.0.get_prodname()}}</a></h5>
	      <h5 class="card-subtitle mb-2">
         	{% let tags = product.3.clone() %}
		{% include "display_tag.html" %}
	      </h5>
              <p class="card-text"><b>价格: ¥{{product.0.get_price()}}</b></p>
            </div>
	  </div>
	</div>
	{% endfor %}

      </div>
    </div>
    <br>
  {% else %}
    <div class="p-5 rounded shadow">
     <h3>此类别下没有产品</h3>
    </div>
    <br>
  {% endif %}
  <br>
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/imagesloaded@4.1.4/imagesloaded.min.js"></script>
  <script>
    // init Masonry
    var grid = document.querySelector('.grid');

    var msnry = new Masonry( grid, {
	itemSelector: '.grid-item',
	percentPosition: true
    });

    imagesLoaded( grid ).on( 'progress', function() {
	// layout Masonry after each image loads
	msnry.layout();
    });
  </script>
{% endblock script %}
