{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Store") }}{% endblock title %}

{% block content %}
<main class="container">
  <div class="p-5 rounded shadow">
    <h1><b>FLibrary Store <span class = "text-muted">{{ i18n!(self.i18n.catalog, "Power Your Curiosity") }}</span></b></h1>
  </div>
  <br>

{% if entries.len() > 0 %}
  {% for entry in entries %}
  <div class="p-5 rounded shadow">
    <h3><b>{{entry.0.name()}}</b></h3>
    <div class="row grid" id="{{entry.0.id()}}">
       {% for product in entry.1 %}
       <div class="col-sm-6 col-lg-4 mb-4 grid-item">
	  <div class="card">
	    {% match product.1 %}
	    {% when Some with (img) %}
	    <a href="{{ uri!("/store", crate::store::prod_page_owned(product.0.get_id())) }}">
	      <img src="{{img}}?size=thumbnail" loading="lazy" class="card-img-bottom">
            </a>
            {% when None %}
            {% endmatch %}
            <div class="card-body">
              <h5 class="card-title"><a href="{{ uri!("/store", crate::store::prod_page_owned(product.0.get_id())) }}">{{product.0.get_prodname()}}</a></h5>
	      <h5 class="card-subtitle mb-2">
		{% let tags = product.3.clone() %}
		{% include "display_tag.html" %}
	      </h5>
              <p class="card-text"><b>{{ "{:?}"|format(product.0.get_currency()) }} {{ product.0.get_price() }}</b></p>
            </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    <br>
  {% endfor %}
  {% else %}
  {% endif %}
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/imagesloaded@4.1.4/imagesloaded.min.js"></script>
  <script>
    var elements = document.getElementsByClassName('grid');
    var msnry;

    imagesLoaded( document.querySelector('body'), function() {
      // init Isotope after all images have loaded
      var n = elements.length;
      for(var i = 0; i < n; i++){
        msnry = new Masonry( elements[i], {
          itemSelector: '.grid-item',
          percentPosition: true
        });
      }
    });
  </script>
{% endblock script %}
