{% extends "base.html" %}
{% block title %}{{ i18n!(self.i18n.catalog, "Update {0}"; self.prod.get_prodname()) }}{% endblock title %}
{% block content %}
  <main class="container">
  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Update product details") }}</h1>
    <p class="lead">{{ i18n!(self.i18n.catalog, "Change relevant information which users see in the store") }}</p>
  </div>
  <br>

  <div class="p-5 rounded shadow">
    <h1>{{ i18n!(self.i18n.catalog, "Product details") }}</h1>
    {% block form_link %}
    <form action="{{ uri!("/store", crate::services::prods::update_prod(self.prod.get_id())) }}" method="post">
    {% endblock form_link %}
    <div class="form-group row">
      <label for="inputProd" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Name") }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputProd" placeholder="Product name" value="{{ prod.get_prodname() }}" name="prodname">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputCategory" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Category") }}</label>
      <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" name="category">
	  {% for category in categories %}
	    {% if prod.get_category_id() == category.id() %}
	    <option value="{{category.id()}}" selected>{{category.name()}}</option>
	    {% else %}
	    <option value="{{category.id()}}">{{category.name()}}</option>
	    {% endif %}
	  {% endfor %}
	</select>
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="inputCurrency" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Currency") }}</label>
      <div class="col-sm-4">
        <select class="form-select" aria-label="Default select example" name="currency">
	  <option value="usd">USD</option>
	  <option value="cny">CNY</option>
	  <option value="gbp">GBP</option>
	  <option value="eur">EUR</option>
	  <option value="chf">CHF</option>
	  <option value="hkd">HKD</option>
	  <option value="jpy">JPY</option>
	</select>
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="inputPrice" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Price") }}</label>
      <div class="col-sm-4">
        <input type="number" min="0" class="form-control" id="inputPrice" placeholder="Price" value="{{ prod.get_price() }}" name="price">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputQuantity" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Quantity") }}</label>
      <div class="col-sm-4">
        <input type="number" min="1" class="form-control" id="inputQuantity" placeholder="Quantity" value="{{ prod.get_quantity() }}" name="quantity">
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label for="inputDescription" class="col-sm-2 col-form-label">{{ i18n!(self.i18n.catalog, "Description") }}</label>
      <div class="col-sm-10">
	<textarea class="form-control" id="summernote" rows="15" name="description">{{ prod.get_description() }}</textarea>
      </div>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ i18n!(self.i18n.catalog, "Update") }}</button>
  </form>
  </div>
  <br>
</main>
{% endblock content %}

{% block script %}
  {% call super()%}
  {% include "summernote.html" %}
{% endblock script %}
